<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        enter the url you want to encode:
        <input name="qurl" type="text"/>
        <br>
        <input name="submit" type="submit"/>
    </form>
    <form action="/decode" method="POST">
        upload your qr code in png format.
        <input type="file" name="your file"/>
        <input name="submit" type="submit"/>

    </form>
</body>
</html>