doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    form(action='/', method='POST')
      | git UserName:
      br
      input(type='text', name='name')
      input(type='submit', value='submit')
   
    form(action='/userget', method='POST')
      input(name="following",value=following) 
      input(name="public_repos",value=public_repos)
      input(name="followers",value=followers) 
      input(type='submit', value='push')
